In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\datasets\Fortune_10.csv')
df

,data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
#kisi bhi row ko heading banaye by using header fn. index no. deke

In [4]:
df=pd.read_csv('D:\datasets\Fortune_10.csv' ,header=1)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=3)
df

,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
0,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
1,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
2,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
3,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
4,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
5,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
6,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
7,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df=pd.read_csv('D:\datasets\Fortune_10.csv') 
df

,data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
1,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
2,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
3,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
4,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
5,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
6,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
7,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
8,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
9,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
10,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=1)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [8]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=3)
df

,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
0,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
1,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
2,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
3,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
4,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
5,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
6,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
7,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=None)  # if we dont want any heading name
df

,0,1,2,3,4,5,6,7
0,data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
3,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
4,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
5,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
6,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
7,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
8,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
9,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
10,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
11,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [10]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=None,prefix='columns') #to give the column name
df

,columns0,columns1,columns2,columns3,columns4,columns5,columns6,columns7
0,data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
3,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
4,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
5,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
6,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
7,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
8,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
9,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
10,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
11,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [11]:
# now give the specific columns name

In [12]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',names=['A','B','C','D','E','F','G','H'])
df

,A,B,C,D,E,F,G,H
0,data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
2,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
3,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
4,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
5,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
6,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
7,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
8,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
9,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
10,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
11,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',header=1)
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
df=pd.read_csv('D:\datasets\Fortune_10.csv',index_col=1,header=1)
df

,ID,Industry,Inception,Revenue,Expenses,Profit,Growth
Name,,,,,,,
Lamtone,1,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
Stripfind,2,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
Canecorporation,3,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
Mattouch,4,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
Techdrill,5,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
Techline,6,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
Cityace,7,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
Kayelectronics,8,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
Ganzlax,9,IT Services,2011,"$14,001,180",NaN,11901180,18%
Trantraxlax,10,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [15]:
1

1