In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [9]:
dataset=pd.read_csv("D:\\datasets\\1000_Companies.csv")
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [12]:
x=dataset.iloc[:, :-1] # this is input variable means independent variable 
# or x=dataset.drop('profit',axis='columns')

x

     R&D Spend  Administration  Marketing Spend       State
0    165349.20     136897.8000     471784.10000    New York
1    162597.70     151377.5900     443898.53000  California
2    153441.51     101145.5500     407934.54000     Florida
3    144372.41     118671.8500     383199.62000    New York
4    142107.34      91391.7700     366168.42000     Florida
5    131876.90      99814.7100     362861.36000    New York
6    134615.46     147198.8700     127716.82000  California
7    130298.13     145530.0600     323876.68000     Florida
8    120542.52     148718.9500     311613.29000    New York
9    123334.88     108679.1700     304981.62000  California
10   101913.08     110594.1100     229160.95000     Florida
11   100671.96      91790.6100     249744.55000  California
12    93863.75     127320.3800     249839.44000     Florida
13    91992.39     135495.0700     252664.93000  California
14   119943.24     156547.4200     256512.92000     Florida
15   114523.61     122616.8400     261776.23000    New York
16    78013.11     121597.5500     264346.06000  California
17    94657.16     145077.5800     282574.31000    New York
18    91749.16     114175.7900     294919.57000     Florida
19    86419.70     153514.1100          0.00000    New York
20    76253.86     113867.3000     298664.47000  California
21    78389.47     153773.4300     299737.29000    New York
22    73994.56     122782.7500     303319.26000     Florida
23    67532.53     105751.0300     304768.73000     Florida
24    77044.01      99281.3400     140574.81000    New York
25    64664.71     139553.1600     137962.62000  California
26    75328.87     144135.9800     134050.07000     Florida
27    72107.60     127864.5500     353183.81000    New York
28    66051.52     182645.5600     118148.20000     Florida
29    65605.48     153032.0600     107138.38000    New York
..         ...             ...              ...         ...
970   13856.00     112503.4128      95514.22902     Florida
971   71829.00     121065.1295     207373.29080    New York
972  131154.00     129826.5157     321841.04030     Florida
973   68679.00     120599.9232     201295.35720    New York
974  108056.00     126415.2979     277273.38630  California
975  140149.00     131154.9383     339196.91740     Florida
976   56850.00     118852.9626     178471.26940  California
977   47438.00     117462.9555     160310.78970    New York
978   58867.00     119150.8423     182363.07640     Florida
979   12914.00     112364.2939      93696.63744  California
980   62574.00     119698.3089     189515.74310    New York
981   53106.00     118300.0316     171247.21120  California
982  123537.00     128701.6025     307144.01800  California
983   48901.00     117679.0180     163133.65220     Florida
984  105143.00     125985.0928     271652.74480  California
985   63615.00     119852.0486     191524.35540    New York
986  100405.00     125285.3634     262510.76090  California
987   41289.00     116554.8432     148446.27740    New York
988   39970.00     116360.0473     145901.26330     Florida
989   43532.00     116886.0996     152774.15210     Florida
990  136133.00     130561.8371     331448.03440  California
991  131106.00     129819.4269     321748.42420    New York
992  105127.00     125982.7298     271621.87280     Florida
993   46798.00     117368.4374     159075.90800  California
994   97209.00     124813.3635     256344.07010    New York
995   54135.00     118451.9990     173232.66950  California
996  134970.00     130390.0800     329204.02280  California
997  100275.47     241926.3100     227142.82000  California
998  128456.23     321652.1400     281692.32000  California
999  161181.72     270939.8600     295442.17000    New York

[1000 rows x 4 columns]

In [4]:
y=dataset.iloc[:, 4] # target or output variable
y

0      192261.83000
1      191792.06000
2      191050.39000
3      182901.99000
4      166187.94000
5      156991.12000
6      156122.51000
7      155752.60000
8      152211.77000
9      149759.96000
10     146121.95000
11     144259.40000
12     141585.52000
13     134307.35000
14     132602.65000
15     129917.04000
16     126992.93000
17     125370.37000
18     124266.90000
19     122776.86000
20     118474.03000
21     111313.02000
22     110352.25000
23     108733.99000
24     108552.04000
25     107404.34000
26     105733.54000
27     105008.31000
28     103282.38000
29     101004.64000
           ...
970     60869.96038
971    110395.79400
972    161076.62960
973    107704.77620
974    141344.20750
975    168760.98050
976     97599.36358
977     89558.77320
978     99322.46927
979     60065.21791
980    102489.32740
981     94400.89669
982    154569.49220
983     90808.60147
984    138855.65680
985    103378.64470
986    134808.02420
987     84305.73556
988     83178.92524
989     86221.91110
990    165330.14630
991    161035.62360
992    138841.98810
993     89012.02672
994    132077.70900
995     95279.96251
996    164336.60550
997    413956.48000
998    333962.19000
999    476485.43000
Name: Profit, Length: 1000, dtype: float64

In [17]:
# convert column into categorial columns 
#states=pd.get_dummies(x['State'],drop_first=True)
x=pd.drop('State',axis=1)

AttributeError: module 'pandas' has no attribute 'drop'